include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include fish_behavior_analysis *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store